
/*---------------Main-------------------*/
.main{
    height: 75vh;
    width: 60vw;
    margin: 15vh auto 0;
}
/*---------------Titre-------------------*/
.hr-titre{
    width: 100%;
    height: 1px;
    background-color: lightgray;
    font-weight: 800;
    margin-bottom: 5vh;
}


/*---------------Liste-------------------*/

.liste-support ul{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;
    background: none;
}

.liste-support button{
    padding: 10px 20px;
    border: 3px solid darkred;
    transition-duration: .8s;

}

.liste-support button:hover{
    border-radius: 8px;
    transition-duration: .4s;
    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
}

.selected-button {
    background-color: darkred; /* Ajoutez la couleur de fond souhaitée */
    color: white;
    border-radius: 8px;
    transition-duration: .4s;
    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
  }

/*---------------Tableau-lien-------------------*/
#tableau2{
    display: none;
}
#tableau3{
    display: none;
}
#tableau4{
    display: none;
}


.table-link ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.table-link li{
    padding: 2vh 2vh;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    width: 30%;
    transition-duration: .4s;
}

.table-link li:hover p{
   
    color: darkred;
}
.table-link li:hover{
   
    color: darkred;
    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
}
.table-link a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.table-link img{
    width: 10%;
}
.table-link p{
   text-transform: uppercase;
}

