@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Jura:wght@300;400;500&display=swap');

body, li , ul , button, h1, p, h2, h3{
    margin: 0;
    padding: 0;
    color: grey;
    font-family: 'Gabarito', sans-serif;
    letter-spacing: .09rem;
    font-weight: 400;
    box-sizing: border-box;
   }


li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.body{
    
    line-height: 1.5rem;
   }

.body h2 {
color: grey;

}

hr{
 height: 3vh;
 width:.25vw;
 border-width:0;
 background-color:darkred;
}



/*-----------------NavBar--------------*/

.navbar li{
    text-wrap: nowrap ;
}

.width-nav{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin: 0 auto;
}
.navbar{
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    top: 0 ;
    left: 0;
    right: 0;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    z-index: 1;
    font-size: .9em;
    transition: top 0.3s;
    flex-wrap: nowrap;
        
}




.navbar hr{
    position: absolute;
    height:.7vh;
    width:100vw;
    border-width:0;
    color:darkred;
    background-color:darkred;
    bottom: -10px;
}
.navbar img{
    height: 3.2rem;
   
    
}

.btn-nav{
    font-size: 1em;
    background-color: darkred;
    border: none;
    padding: .5rem;
    letter-spacing: .09rem;
    color: white;
    transition-duration: .8s;
    justify-content: end;
    
}

.btn-nav a{
    color: white;
}

.btn-nav:hover{
    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    transition-duration: .4s;
    border-radius: 8px;
}


.navlink{
    display: flex;
    flex-direction: row;
    padding: 0;
    text-wrap: nowrap;
}

.navlink a{
    transition-duration: .6s;
    font-weight: 400;
    text-transform: uppercase;
    
}
.navlink a:hover{
    
    color: darkred;

}

.navlink li {
    padding:  0 2em;
    list-style: none;
    
}