@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Jura:wght@300;400;500&display=swap');

body, li , ul , button, h2, h1, p{
    margin: 0;
    padding: 0;
    color: grey;
    font-family: 'Gabarito', sans-serif;
    letter-spacing: .09rem;
    font-weight: 400;
    box-sizing: border-box;
   }

h3{
    font-family: 'Jura', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.body{
    
    line-height: 1.5rem;
}

.body h2 {
color: grey;

}

hr{
 height: 3vh;
 width:.25vw;
 border-width:0;
 background-color:darkred;
}



/*----------------Slide------------------*/

.main-div{
    padding-top: 10Vh;
    height: 90vh;
}

.slide{
    height: 65vh;
    background-image: url(/res/img/Photo_de_Famille_AGE_1920_1080BD44.jpg);
    background-position: 50% ;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.left-slide{
    width: 60vw;
    display: flex;
    justify-content: center;
}
.slide h1{

    width: 30vw;
    font-size: 2.2em;
    line-height: 1.6em;
    color: white;
    text-justify: inter-word;
    text-transform: uppercase;
    font-family: 'Gabarito';
    font-weight: 600;
    text-shadow: 2px 3px 8px rgba(0,0,0,0.43);

}



/*----------------logo marque------------------*/

.hr-logo{
    width: 100vw;
    height: 1vw;
    padding: 0;
    margin: 0;
    background-color: white;
}

.nav-logo{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    width: 100vw;
    height: 24vh;
    display: flex;
    

}

.logo-marque{
    
    max-width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-right: 80px;
    gap: 7.5px;
   
    
}

.logo-marque img{
    width: 12vw;
    height: auto; /* Garantit que la hauteur s'ajuste automatiquement pour maintenir le ratio */
    aspect-ratio: 3/1;
    margin: 0 auto; /* Centre le logo horizontalement si nécessaire */
    transition-duration: .4s;
}




/*----------------solution marque------------------*/


.div-sol{
    margin: 0 auto;
    height: 100vh;
    width: 65vw;
    
}

.titre-sol{
    text-transform:uppercase;
    margin: 8vh auto 4vh;
    font-size: 1.8em;
    font-weight: 600;
    
}

.nossolutions{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw; 

}



.titlesolution-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#006480;
    height: 2vw;
    position: relative;
}

.titlesolution-div h2{
    color: white;
    font-weight: 200;
    font-size: 1.3rem;
}

.div-sol hr{
    width: 100%;
    height: 1vw;
    background-color: transparent;
    margin: 0;
}


.sol-card1{
    
    display: flex;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    height: 40vh;
    transition-duration: .4s;
}

.sol-card1:hover{

    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
}

.sol-card1 img{
    filter: grayscale(100%);
    transition-duration: .4s;
}

.sol-card1:hover img{
    filter: grayscale(0);
}


.up-card{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: auto;
    
}
.up-card img{
    padding-top: 0.5vw;
    max-width: 95%;
    height: auto;
}
.down-card{
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 1.2em;
    font-size: 1em;
    
}


.down-card h3{
    color: #006480;
    padding:  1vh 1vw ;
    text-transform: uppercase;
    font-size: 1.2em;
}
.down-card p{
    color: gray;
    padding: 0 1vw;
    margin: 0;
    font-size: .8em;
}


.sol-card2{
    
    display: flex;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    transition-duration: .4s;
}

.sol-card2:hover{

    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
}

.sol-card2 img{
    filter: grayscale(100%);
    transition-duration: .4s;
}

.sol-card2:hover img{
    filter: grayscale(0);
}





.sol-card3{
    
    display: flex;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    transition-duration: .4s;

}

.sol-card3:hover{
    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    
}

.sol-card3 img{
    filter: grayscale(100%);
    transition-duration: .4s;
}

.sol-card3:hover img{
    filter: grayscale(0);
}





.sol-card4{
    
    display: flex;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    transition-duration: .4s;
}

.sol-card4:hover{
    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
}



.sol-card4 img{
    filter: grayscale(100%);
    transition-duration: .4s;
}

.sol-card4:hover img{
    filter: grayscale(0);
}

.sol-card5{
    
    display: flex;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    transition-duration: .4s;
}

.sol-card5:hover{
    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
}
.sol-card5 img{
    filter: grayscale(100%);
    transition-duration: .4s;
}

.sol-card5:hover img{
    filter: grayscale(0);
}





.sol-card6{
    
    display: flex;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    transition-duration: .4s;
    justify-content: center ;
    align-items: center;
    
    
}

.sol-card6:hover{
    box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.51);
}



/*----------------Contact------------------*/

.contact{
width: 100vw;
height: 49vh;
margin: 0 auto;


}

.div-contact{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: #F1F3F4;
    
}

.left-contact{
    width: 35vw;
    height: 40vh;
    background-color: #F1F3F4;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: justify;
    
}
.visit-card{
    background-color: white;
    width: 27vw;
    height: 31.2vh;
    padding: 20px;
    margin-right: 15px;

    box-shadow: -1px 7px 5px -5px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 5px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 5px -5px rgba(0,0,0,0.51);
    transition-duration: .5s;
}

.visit-card:hover{
    box-shadow: -1px 7px 11px -5px rgba(71, 11, 11, 0.51);
    -webkit-box-shadow: -1px 7px 11px -5px rgba(71, 11, 11, 0.51);
    -moz-box-shadow: -1px 7px 11px -5px rgba(71, 11, 11, 0.51);
}

.vs-up{
    height: 50%;
}

.vs-up img{
    height: 8vh;
    width: auto;
    z-index: 12;
}
.vs-down{
    height: 50%;
    display: flex;
    align-items: end;
}



.left-vs-down{
    display: flex;
    flex-direction: row; 
    justify-content: left;
    align-items: center;
    width: 50%;
    
    
}
.left-vs-down hr{
    padding: 0;
    margin: 0   ;
    width: .6em;
    height: 2.5em;
    margin-right: 5px;
}

.right-vs-down{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}




.right-contact{
    width: 35vw;
    height: 40vh;

    display: flex;
    align-items: center;

}
.right-contact iframe{
    width: 32.5vw;
    height: 40vh;

    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*----------------Realisation------------------*/

.realisation{
    width: 65vw;
    margin: 0 auto 10vh;
    flex-direction: column;
}


.titre-rea{
    text-transform: uppercase;
    margin: 0 auto 4vh;
    font-size: 1.8em;
    font-weight: 600;
    display: flex;
    justify-content: start;
    
}


.rea-up{
    display: flex;
    justify-content: center;
    gap: .5vw;
    margin: .2vw auto;
    box-sizing: border-box;
    width: 65vw;

}

.p1 ,.p2{
    position: relative;
    width: 50%;
}

.p3,.p4,.p5,.p6,.p7,.p8 {
    position: relative;
    width: 33%;
}

.p1 img,.p2 img,.p3 img,.p4 img,.p5 img,.p6 img,.p7 img,.p8 img{
    width: 100%;
    aspect-ratio: 3/2;
}



.overlay1{
    z-index: 0;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition-duration: .8s;
    margin-bottom: 2px;
}
.overlay1 h3{
    
    color: transparent;
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 1.5em;
}

.overlay1:hover{
  
    background-color: #006480;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;   
    text-align: center;
    
}

.overlay1:hover h3{
    transition-duration: .8s    ;
    color: white;

  }


  





.overlay2{
    
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition-duration: .8s;
}
.overlay2 h3{
    color: transparent;
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 1.5em;
}

.overlay2:hover{
   
    background-color: #006480;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.overlay2:hover h3{
    transition-duration: .8s    ;
    color: white;
  }


  
.rea-md{
    
    display: flex;
    justify-content: center;
    gap: .5vw;
    height: 33%;
    margin-bottom: 0.2vw;
}

.overlay3{
    
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition-duration: .8s;
}
.overlay3 h3{
    color: transparent;
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 1.5em;
}

.overlay3:hover{
   
    background-color: #006480;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.overlay3:hover h3{
    transition-duration: .8s    ;
    color: white;
  }

  .overlay4{
    
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition-duration: .8s;
}
.overlay4 h3{
    color: transparent;
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 1.5em;
}

.overlay4:hover{
   
    background-color: #006480;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.overlay4:hover h3{
    transition-duration: .8s    ;
    color: white;
}



.overlay5{
    
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition-duration: .8s;
}
.overlay5 h3{
    color: transparent;
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 1.5em;
}

.overlay5:hover{
   
    background-color: #006480;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.overlay5:hover h3{
    transition-duration: .8s    ;
    color: white;
  }


  .overlay6{
    
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition-duration: .8s;
}
.overlay6 h3{
    color: transparent;
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 1.5em;
}

.overlay6:hover{
   
    background-color: #006480;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.overlay6:hover h3{
    transition-duration: .8s    ;
    color: white;
  }


  .overlay7{
    
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition-duration: .8s;
}
.overlay7 h3{
    color: transparent;
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 1.5em;
}

.overlay7:hover{
   
    background-color: #006480;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.overlay7:hover h3{
    transition-duration: .8s    ;
    color: white;
  }



.overlay8{
    
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition-duration: .8s;
}
.overlay8 h3{
    color: transparent;
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 1.5em;
}

.overlay8:hover{
   
    background-color: #006480;
    height: 98.1%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.overlay8:hover h3{
    transition-duration: .8s    ;
    color: white;
  }


.rea-down{
    display: flex;
    justify-content: center;
    gap: .5vw;
    height: 33%;
}









/*----------------footer------------------*/
.footer-hr-up{
    position: absolute;
    height:.7vh;
    width:100vw;
    border-width:0;
    color:darkred;
    background-color:darkred;
    top: -17px;
   
    
}
.footer-up-left{

    display: flex;
}



.footer-up-right img{
    
    width: 8vw;
    
    }

.footer{
    height: 20vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    position: relative;
    padding-top: .5vw;
    font-weight: 200;
}


.footer-up{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 65vw;
}





.logo-footer img{
        height: 4rem;
        width: auto;
        margin-top: 7px;   
}



.info{

  width: 30vw;
   font-size: .9em;
}
.div-hr-footer{
    width: 15%;
    display: flex;
    justify-content: center;
   

}
.hr-footer{
    height: 11vh;
    width: 1px;
    background-color: lightgray;
}


.info h3 {
    margin-top: 0;
    color: darkred;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-family: 'Gabarito', sans-serif;
    font-weight: 200;

}

.footer a{
    display: flex;
    flex-direction: row;
    color: grey;
    font-size: 1.1em;
}

.footer p{
    font-size: .9em;
}





.footer-reseau{
width: 65vw;
margin: 0 auto;
display: flex;
justify-content: end;
align-items: center;

}

.footer-reseau img{
    height: 3vh;
    margin: 0 5px;
    
    
}




.div-hr-legal{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    

}

.hr-legal{
    
    width: 65vw;
    height: 1px;
    background-color: lightgrey;
    
}

.legal{
    width:65vw;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    align-items: end;
    font-size: .65em;
    text-transform: uppercase;
    color: darkred;
}

.legal a:hover{
    color: darkred;
}


.legal a{
    color: #006480;
}


