@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Jura:wght@300;400;500&display=swap');

body, li , ul , button, h2, h1, p{
    margin: 0;
    padding: 0;
    color: grey;
    font-family: 'Gabarito', sans-serif;
    letter-spacing: .09rem;
    font-weight: 400;
    box-sizing: border-box;
   }

h3{
    font-family: 'Jura', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.body{
    
    line-height: 1.5rem;
    margin-top: 10vh;
}

.body h2 {
color: grey;

}

hr{
 height: 3vh;
 width:.25vw;
 border-width:0;
 background-color:darkred;
}

/*----------------Main------------------*/


.main{
    height: 91vh;
    width: 100vw;
}



/*----------------footer------------------*/
.footer-hr-up{
    position: absolute;
    height:.7vh;
    width:100vw;
    border-width:0;
    color:darkred;
    background-color:darkred;
    top: -17px;
   
    
}
.footer-up-left{

    display: flex;
}



.footer-up-right img{
    
    width: 8vw;
    
    }

.footer{
    height: 20vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    position: relative;
    padding-top: .5vw;
    font-weight: 200;
}


.footer-up{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 65vw;
}





.logo-footer img{
        height: 4rem;
        width: auto;
        margin-top: 7px;   
}



.info{

  width: 30vw;
   font-size: .9em;
}
.div-hr-footer{
    width: 15%;
    display: flex;
    justify-content: center;
   

}
.hr-footer{
    height: 11vh;
    width: 1px;
    background-color: lightgray;
}


.info h3 {
    margin-top: 0;
    color: darkred;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-family: 'Gabarito', sans-serif;
    font-weight: 200;

}

.footer a{
    display: flex;
    flex-direction: row;
    color: grey;
    font-size: 1.1em;
}

.footer p{
    font-size: .9em;
}





.footer-reseau{
width: 65vw;
margin: 0 auto;
display: flex;
justify-content: end;
align-items: center;

}

.footer-reseau img{
    height: 3vh;
    margin: 0 5px;
    
    
}




.div-hr-legal{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    

}

.hr-legal{
    
    width: 65vw;
    height: 1px;
    background-color: lightgrey;
    
}

.legal{
    width:65vw;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    align-items: end;
    font-size: .65em;
    text-transform: uppercase;
    color: darkred;
}

.legal a:hover{
    color: darkred;
}


.legal a{
    color: #006480;
}


