
@media only screen and (max-width: 1499px) { 

    #main-apropos{
        width: 90vw;
    }
 }
/*---------------Main-------------------*/

.main{
    height: 100%;
    width: 60vw;
    margin: 15vh auto 5vh;
}

/*---------------Titre-------------------*/
.hr-titre{
    width: 100%;
    height: 1px;
    background-color: lightgray;
    font-weight: 800;
}

/*---------------Container-up-------------------*/

.container-up{
    display: flex;
    gap: 2vh;
}


.container-left{
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 2vh; 
}

.container-right{
    width: 50%;
    margin: auto;
}
.container-right img{
    height: auto;
    width: 100%;
    
}

.chiffre {
    margin: 6vh 0;
    width: 100%;
    background-color: #006480;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chiffre div{
    width: 25%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
}

.chiffre h4, .chiffre p{
    color: white;
    
    margin: 0 auto;
}

.chiffre h4 {
    font-size: 2em;
    margin: 0 15px .5em 0px;
}

.chiffre hr{

    height: 10vh;
    width: .2vw;
    background-color: white;
}




/*----------------container-down------------------*/

.container-down{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: justify;
}


.signature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    margin-top: 5vh;
}

.signature h4{
    margin: 0;
}




/********Chiffer*********/


#counter {
    transition: all 0.5s ease-in-out;
  }
